<!DOCTYPE html>

<html>
  <head>
    <!--meta data-->
    <meta charset="UTF-8" />
    <meta name="description" content="Poker" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Ashwin Jain" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no"
    />

    <!--Linking stylesheet-->
    <link rel="stylesheet" href="style.css" />

    <!--Linking javascript-->
    <script defer src="javascript/script.js"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script
      src="https://kit.fontawesome.com/e6921743c9.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <title>Texas Hold 'em Poker</title>
    <h1 class="head_title">Texas Hold 'em Poker</h1>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

    <button id="start" onclick="startGame()">Start</button>
    <div class="table">
      <div id="user_hand">
        <div class="user_card">
          <img
            class="card"
            id="user_first"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="user_card">
          <img
            class="card"
            id="user_second"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="stack">
          <p id="stack">$</p>
        </div>
      </div>

      <div class="comm_hand">
        <img
          class="card_flop"
          src="data/images/cards/card_back.png"
          alt="card_back"
        />
        <img
          class="card_flop"
          src="data/images/cards/card_back.png"
          alt="card_back"
        />
        <img
          class="card_flop"
          src="data/images/cards/card_back.png"
          alt="card_back"
        />
        <img
          class="card_turn"
          id="turn"
          src="data/images/cards/card_back.png"
          alt="card_back"
        />
        <img
          class="card_river"
          id="river"
          src="data/images/cards/card_back.png"
          alt="card_back"
        />
      </div>

      <div class="opponent" id="player1" style="bottom: 0%; left: 0%">
        <div class="opp_hand">
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="opp_info" style="position: relative; display: inline-block">
          <div class="name"><p style="color: green">Player 1</p></div>
          <div class="stack"><p style="color: green">$0</p></div>
        </div>
      </div>

      <div class="opponent" id="player2" style="top: 43%; left: 0%">
        <div class="opp_hand">
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="opp_info" style="position: relative; display: inline-block">
          <div class="name"><p style="color: green">Player 2</p></div>
          <div class="stack"><p style="color: green">$0</p></div>
        </div>
      </div>

      <div class="opponent" id="player3" style="top: 0%; left: 0%">
        <div class="opp_hand">
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="opp_info" style="position: relative; display: inline-block">
          <div class="name"><p style="color: green">Player 3</p></div>
          <div class="stack"><p style="color: green">$0</p></div>
        </div>
      </div>

      <div class="opponent" id="player4" style="top: 0%; right: 0%">
        <div class="opp_hand">
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="opp_info" style="position: relative; display: inline-block">
          <div class="name"><p style="color: green">Player 4</p></div>
          <div class="stack"><p style="color: green">$0</p></div>
        </div>
      </div>

      <div class="opponent" id="player5" style="top: 43%; right: 0%">
        <div class="opp_hand">
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="opp_info" style="position: relative; display: inline-block">
          <div class="name"><p style="color: green">Player 5</p></div>
          <div class="stack"><p style="color: green">$0</p></div>
        </div>
      </div>

      <div class="opponent" id="player6" style="bottom: 0%; right: 0%">
        <div class="opp_hand">
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
          <img
            class="opp_card"
            src="data/images/cards/card_back.png"
            alt="card_back"
          />
        </div>
        <div class="opp_info" style="position: relative; display: inline-block">
          <div class="name"><p style="color: green">Player 6</p></div>
          <div class="stack"><p style="color: green">$0</p></div>
        </div>
      </div>
    </div>

    <!-- Other players -->
    <p id="player_name" style="color: brown"><%= locals.username %></p>

    <div class="actions">
      <div id="bet_buttons">
        <button class="action_button" id="check_button" onclick="check()">
          Check
        </button>
        <button
          class="action_button"
          id="call_button"
          style="opacity: 0.5"
          onclick="call()"
        >
          Call
        </button>
        <div>
          <button class="action_button" id="raise_button" onclick="raise()">
            Raise
          </button>
          <input type="number" id="raise_amount" required />
        </div>
        <button class="action_button" id="fold_button" onclick="fold()">
          Fold
        </button>
      </div>
      <div>
        <p id="pot">$0</p>
      </div>
    </div>
  </body>
</html>
